/* src/chatbot/Chatbot.css */
.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.chatbot-window {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.chatbot-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 16px;
}

.chatbot-content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100% - 30px); /* 필요 시 조정 */
    display: flex;
    flex-direction: column;
}

.chatbot-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap; /* 줄바꿈 보존 */
    word-break: break-word; /* 단어 단위로 잘림 */
}

.chatbot-message.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.chatbot-message.bot {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
}

.chatbot-input-container {
    display: flex;
    border-top: 1px solid #ddd;
}

.chatbot-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0 0 0 10px;
    outline: none;
    font-size: 14px;
}

.chatbot-send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 0 10px 0;
    cursor: pointer;
}

.chatbot-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 효과 */
    z-index: 998; /* 창 아래 배경 */
}

.timestamp {
    font-size: 10px;
    color: gray;
    margin-left: 5px;
}

.chatbot-message .timestamp {
    color: #030300; /* 원하는 색상으로 변경 */
    font-size: 0.85em; /* 글자 크기 조정 */
    margin-left: 5px; /* 메시지와의 간격 */
}